<!DOCTYPE html>
<html>
  <head>
    <title>The Rabbit Hole</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <h1>The Rabbit Hole</h1>
      </div> 
      <% if (user) { %>
      <div id="user-info">
        <p><%= user %></p> <br>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </div>
      <% } %>
      <div id="navbar">
        <nav>
        <ul>
          <li><a href="/">Home</a></li>  
          <li><a href="/blogs">Blogs</a></li>
        </ul>
      </nav>
      </div>
      <hr>
    </header>
    <main>
        <div>
            <h2>Create a New Post</h2>
            <form action="/createPost" method="POST">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" required><br><br>
                <label for="content">Content:</label><br>
                <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
                <button type="submit">Create Post</button>
            </form>
        </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
