<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><%= title %></h1> 
      <div id="navbar">
        <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
      </div>
    </header>
    <main>
      <div id="blog-container">
        <h2>Blog Posts</h2>
        <ul>
        </ul>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
