#register-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#register-container > form > input[type="text"],
#register-container > form > input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #735DA5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputbox {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }
  
  .inputbox input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputbox label {
    font-size: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #735DA5;
  }
  
  .inputbox :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
  }
  
  .inputbox :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

  button {
    margin-left: 20px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #735DA5;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: #685b79;
    color: hsl(0, 0%, 100%);
    box-shadow: #685b79 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: #685b79;
    color: hsl(0, 0%, 100%);
    box-shadow: #685b79 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 100ms;
  }
  