body {
  font: 14px poppins, sans-serif;
  background-color: #735DA5;
  color: #D3C5E5  ;
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  text-align: center;
  padding: 15px;
}

header > h1 {
  font-family: 'Fleur De Leah', cursive;
}

a {
  color: #D3C5E5;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#navbar > nav {
  padding: 10px;

}
#navbar > nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content:center;
}

#navbar > nav > ul > li {
  margin: 0 10px;
}

#blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#error-message {
  color: red;
  font-weight: bold;
}
#success-message {
  color: green;
  font-weight: bold;
}